/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

 $color__grey-light: #ebe7dc;

.wp-block-site-functionality-membership-widget {
    background-color: $color__grey-light;
    padding: 2rem;
    margin: 2px;
}
